<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/jimmy/Desktop/Selenium/projects/Advance-System-TestNG/src/test">
        <classes>
            <class name="tests.HomeTest">
                <methods>
                    <include name="testHeaders"/>
                    <include name="testHeaders1"/>
                    <include name="testHeaders2"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>